html,
body {
  height: 100%;
}
body {
  background-color: #f5f5f5;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.main {
  width: 100%;
  max-width: 1400px;
  min-height: 70vh;
  display: flex;
  .contents{
    margin-top: 61px;
    margin-left: 170px;
    padding-top: 20px;
    padding-left: 30px;
    width: 100%;
    min-height: 82.8vh;
    .recommended-textbox{
      padding: 15px 0;
      span{
        font-size: 20px;
        font-weight: 600;
      }
    }
    .recommended-videos{
      display: flex;
      flex-wrap: wrap;
      .videoBlock{
        margin-right: 15px;
        margin-bottom: 15px;
        a{
          video{
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .search{
    margin-top: 61px;
    margin-left: 170px;
    padding-top: 20px;
    padding-left: 30px;
    width: 100%;
    min-height: 82.8vh;
    .search__header{
      padding: 15px 0;
      h3{
        font-size: 20px;
      }
    }
    .search__video-container{
      .search__videos{
        h5{
          font-size: 24px;
        }
        .searchBlock{
          padding: 15px 0;
          a{
            .searchBlock__container{
              display: flex;
              .searchBlock__video{
                margin-right: 10px;
              }
              .searchBlock__explain{
                h1{
                  font-size: 22px;
                  margin-bottom: 5px;
                }
                h6{
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  .edit__video{
    margin-top: 61px;
    margin-left: 170px;
    padding-top: 50px;
    padding-left: 50px;
    width: 100%;
    min-height: 82.8vh;
    .edit__text{
      font-size: 20px;
      padding: 15px 0;
    }
    .form-container{
      form{
        margin-bottom: 20px;
        .title__input, .description__textarea{
          display: flex;
          align-items: center;
          line-height: 50px;
          .formDescription{
            margin-right: 30px;
          }
          .formTitle{
            margin-right: 72px;
          }
        }
      }
    }
  }
  .upload__video{
    margin-top: 61px;
    margin-left: 170px;
    padding-top: 50px;
    padding-left: 50px;
    width: 100%;
    min-height: 82.8vh;
    .upload.text{
      h1{
        font-size: 20px;
        padding: 15px 0;
      }
    }
    .form-container{
      form{
        .video__input,.title__input,.description__textarea{
          margin: 15px 0;
        }
        .video__input{
          label{
            margin-right: 10px;
          }
        }
        .title__input,.description__textarea{
          line-height: 50px;
          .formTitle{
            margin-right: 49px;
          }
          .formDescription{
            margin-right: 5px;
          }
        }
        .description__textarea{
          display: flex;
          align-items: center;
        }
      }
      }
  }
}

.videoContent__main{
  width: 100%;
  min-height: 70vh;
  display: flex;
  .guideline{
    display: none;
  }
  .header{
    background-color: #252525;
    .header__container{
      .header__column:nth-child(1){
        .fa-bars{
          color: white;
        }
        a{
          .fa-youtube{
            color: red($color: #000000);
          }
          span{
            color: white;
          }
          .kr-mark{
            color: rgba(128, 128, 128, 0.816);
          }
        }
      }
      .header__column:nth-child(2){
        .form__container{
          form{
            border: 1px solid grey;
            .search__container{
              .search-input{
                .input__container{
                  .keyboard-icon{
                    color: white;
                  }
                  .input-box{
                    input{
                      background-color: #252525;
                      color: white;
                    }
                  }
                }
              }
            }
            button{
              background-color: #363636;
              .search-icon{
                i{
                  color: white;
                }
              }
            }
          }
        }
      }
      .header__column:nth-child(3){
        li{
          .video-menu{
            .video-menu__container{
              .v-menu__container{
                a{
                  .v-menu-icon{
                    .v-icon__container{
                      i{
                        color: #2f3542;
                      }
                    }
                  }
                }
              }
            }
          }
          i{
            color: white;
          }
        }
      }
    }
  }
  .video__detail{
    margin-top: 61px;
    width: 100%;
    min-height: 82.8vh;
    .video__player{
      max-width: 100%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      video{
        width: 100%;
        height: 540px;
      }
      .video__controller-container{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 15px ;
        .video__controller-column:nth-child(2){
          position: relative;
          display: flex;
          .video__option-column:nth-child(1){
            font-size: 18px;
            display: flex;
            align-items: center;
            .playbtn-box,.stepforwardbtn-box,.volumebtn-box{
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              color: white;
              span{
                i{
                  color: white;
                }
              }
            }
            .durationtime-box{
              color: white;
              span{
                color: white;
              }
            }
            .playbtn-box{
              width: 50px;
            }
            .stepforwardbtn-box{
              width: 35px;
              margin-right: 5px;
            }
            .volumebtn-box{
              width: 30px;
              margin-right: 10px;
            }
          }
          .video__option-column:nth-child(2){
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            .settingbtn-box{
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              span{
                i{
                  font-size: 18px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .video__explain-container{
      display: flex;
      padding: 15px 50px 0 50px; 
      .video__explain{
        max-width: 1050px;
        width: 100%;
        .video__info{
          margin-bottom: 20px;
          h5{
            font-size: 20px;
            margin: 15px 0;
          }
          .video__additional-information{
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
        .video__comments{
          margin-bottom: 20px;
        }
      }
    }  
  }
}