extends layouts/main
include mixins/searchBlock

block content 
    .search
        .search__header
            h3  Searching for : #{searchingBy}
        .search__video-container
            .search__videos
                if videos.length ===0
                    h5 No Videos Found
                each item in videos
                    +searchBlock({
                        title:item.title,
                        views:item.views,
                        videoFile:item.fileUrl,
                        id:item.id,
                        description: item.description
                    })