.guideline{
    max-width: 200px;
    width: 100%;
    position: fixed;
    min-height: 100vh;
    margin-top: 61px;
    background-color: white;
    .guideline__container{
        padding: 10px 0;
        .guideline__section{
            .guide-items{
                .item__home{
                    padding: 5px 10px;
                    a{  
                        color: inherit; //will be change
                        .i-home{
                            display: flex;
                            align-items: center;
                            i{
                                width: 24px;
                                height: 24px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 15px;
                            }
                        }
                    }
                }
                .item__fire{
                    padding: 5px 10px;
                    a{
                        color: inherit;
                        .i-fire{
                            display: flex;
                            align-items: center;
                            i{
                                width: 24px;
                                height: 24px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 15px;
                            }
                        }
                    }
                }
                .item__subscribe{
                    padding: 5px 10px;
                    a{
                        color: inherit;
                        .i-subs{
                            display: flex;
                            align-items: center;
                            i{
                                width: 24px;
                                height: 24px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 15px;
                            }
                        }
                    }
                }
                .item__home:hover, .item__fire:hover, .item__subscribe:hover{
                    background-color: rgba(128, 128, 128, 0.119);
                }
            }
        }
    }
}

.mini-guideline{
    position: fixed;
    max-width: 53px;
    width: 100%;
    min-height: 100vh;
    margin-top: 61px;
    background-color: white;
    display: none;
}