#guideLine.guideline.opened
    .guideline__container
        .guideline__section 
            .guide-items
                .item__home
                    a(href=routes.home)
                        .i-home
                            <i class="fas fa-home"></i>
                            span.home-text Home
                .item__fire
                    a(href=routes.popular)
                        .i-fire
                            <i class="fas fa-fire"></i>
                            span.home-text Trending
                .item__subscribe    
                    a(href=routes.subscribe)
                        .i-subs
                            <i class="fas fa-book"></i>
                            span.subs-text Subscriptions
#miniGuigeLine.mini-guideline
    
    