doctype html
html   
    head
        <script src="https://kit.fontawesome.com/bf3f181268.js" crossorigin="anonymous"></script>
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body    
        main.main
            include ../partials/header
            block content
        include ../partials/footer
        script(src="/static/main.js")